.blob {
    bottom: 15%;
    left: 20%;
    height: 70rem;
    position: relative;
    width: 75rem;
    z-index: -1;
}


.deliveryMan {
    bottom: 50%;
    position: relative;
}


.jumbotronRoot {
    height: 60rem;
}

.topHeader .ui.header {
    color: white;
    font-size: 4rem !important;
    margin-top: 5rem;
    width: 50rem;
}

.topDescription .ui.header {
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
    width: 50rem;
}
