/*Divider Logo*/
.ui.horizontal.divider:before, .ui.horizontal.divider:after {
  background-image: url('/images/divider.png') !important;
}

/*Changes hr to white*/
hr { display: block; height: 1px;
  border: 0; border-top: 2px solid white;
  margin: 1em 0; padding: 0;
}

/*Sign in CSS starts here*/
.signin-form {
  background: #D3E3FC !important;
  padding-bottom: 50px !important;
  border-radius: 10px !important;
}

.ui.stacked.segment.signin-form::after  {
  border: none !important;
  background: none !important;
}

.ui.form input[type="email"], .ui.form input[type="password"]{
  /*background: rgba(0, 0, 0, 0.21) !important;*/
  border-radius: 20px !important;
}

.ui.form input[type="email"]::placeholder , .ui.form input[type="password"]::placeholder {
  color: black !important;
}

.signin-message {
  background: rgba(0, 0, 0, 0.21) !important;
}

.signin-message a {
  color: white;
}

.signin-message a:hover {
  color: #deffdf;
}

.signin-button .ui.button {
  background: #184470 !important;
}

/*Restaurant CSS starts here*/
.restaurant_card > div > .ui.card > .content, .restaurant_card > .ui.card > .content > .header, .restaurant_card > div > .ui.card > .content > .meta, .restaurant_card > div > .ui.card > .content > .description  {
  background-color: #184470 !important;
  color: white !important;
}

.search_bar > .ui.input {
  width: 80% !important;
}

.search_bar > .results {
  margin-left: 120px !important;
}

.favorite_button > i.icon {
  color: rgba(0, 0, 0, 15.15) !important;
}

.favorite_button > i.active.icon:before {
  color: #FFCCBC !important;
  text-shadow: none;
}